appdirs==1.4.4
blinker==1.7.0
Django==4.2.8
django-nose==1.4.7
djangorestframework==3.14.0
packaging==23.2
psycopg2==2.9.9
pycryptodome==3.20.0
pymssql==2.2.11
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
